<!--  <div id='d1' style="position:absolute; top:50px; left:50px;">  
               
    </div> -->
<div class="container">
    <!--     <div class="row">
  <div class="col-md-1">.col-md-1</div>
  
</div> -->
    <br>
    <br>
    <div class="row vertical-align">
        <div class="col-md-6">
            <canvas id="canvas" width="540" height="540"></canvas>
        </div>
        <div class="col-md-6">
            <div class="collapse" id="collapseExample" >
                <div class="well">
                    <address>
                        <strong>{{restaurant.Name}}</strong>
                        <br> <span class="label label-default" ng-style="{'background-color': restaurant.color}">Category</span> {{restaurant.Category}}
                        <br> <span class="label label-info" style="background-color: #444">Schedule</span> {{restaurant.Schedule}}
                        <br> <span class="label label-default" ng-style="{'background-color': restaurant.color}">Street</span> {{restaurant.Street}}
                        <br> <span class="label label-info" style="background-color: #444">Avenue</span> {{restaurant.Avenue}}
                        <br> <span class="label label-default" ng-style="{'background-color': restaurant.color}">Phone</span> {{restaurant.Phone}}
                    </address>
                    <div class="row" style="text-align:center">
                    <button type="button" class="btn btn-default btn-sm" style="color: #fff" ng-style="{'background-color': restaurant.color}" ng-click="showMenu()">View Menu</button>
                    <button type="button" class="btn btn-default btn-sm" style="background-color: #444; color: #fff">Admin</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- s -->
    </div>
</div>
