        <div ng-app="menu">
            <div ng-controller="menuCtrl" ng-init="init()">
        <!-- Top content -->
                <div class="top-content">
                    <div class="inner-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-16 form-box">
                                    <div class="form-top">
                                        <h1>Today's Menu</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-box" ng-repeat="menu in menus.dishes">
                                	<div class="form-top">
                                		<div class="form-top-left">
                                          <div class="col-sm-12 col-sm-offset-2">
                                              <img class="img-rounded" src="http://www.cedarvalleycheesestore.com/images/home_photos/cedar_valley_cheese_store_wisconsin_cheese.jpg"{{menu.photo}}>
                                          </div>
                                		</div>
                                    </div>
                                    <div class="form-bottom">
                                        <h2>Dish Name {{menu.dishName}}  </h2>
                                        <h3>Category {{menu.category}}  </h3>
                                        <h3>Ingredients</h3>
                                        <p ng-repeat="ingredient in menus.dishes.ingredients  | filter: filterByDish(menu.idDish)">
                                            {{ingredient.ingredientName}}
                                        </p>
                                        <h3>Price {{menu.price}}</h3>
                                        <div class="form-group">
                                          <h3>Quantity:</h3>
                                          <input type="number" min="0" max="10" ng-model="menu.quantity" class="form-control"> 
                                          <!-- Hay que cambiar max por la cantidad del ingrediente que tenga menos -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-16 form-box">
                                    <div class="form-top">
                                        <div class="col-sm-8 col-sm-offset-4">
                                            <button type="button" class="btn" ng-click="checkout()"><h2><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Checkout your order</h2></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>