<div class="container" ng-cloak>
    <div class="jumbotron myBackground">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form name="signupFrm" novalidate="novalidate" ng-submit="submit();" ng-submit-force="true">
                    <!-- <legend>Registrarse</legend> -->
                    <div class="form-group" style="text-align:center;">
                        
                        
                            <!-- <div class="col-md-2 col-md-offset-5"> -->
                                <img ng-src="{{model.myImage}}" alt="..." class="img-thumbnail">
                            <div>

                    <label for="file" class="btn btn-default btn-md">
                        <i class="fa fa-file-image-o"></i> Load Image</label>
                        <!-- <input type="file" file-model="myFile"> -->
                    <input type="file" id="file" name="avatar" style="display:none">

                </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" value="" class="form-control input-lg" placeholder="Name" ng-model="model.name" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="First Lastname" ng-model="model.firstlastname" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastname2" value="" class="form-control input-lg" placeholder="Second Lastname" ng-model="model.secondlastname" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" value="" class="form-control input-lg" placeholder="Phone number" ng-model="model.phone" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="form-username" placeholder="Email..." class="form-control input-lg" ng-model="model.email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" ng-model="model.password" ng-minlength="3" required/>
                        </div>
                        <div class="form-group" style="text-align:center;">
                        <button class="btn btn-1 btn-1a" href="#/home" type="submit">Create account</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
