<div class="container"> 
<div class="jumbotron myBackground">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="r" method="post" accept-charset="utf-8" class="form" role="form">   <legend>Registrarse</legend> </form>   
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="Nombre"/></div>
                    </div>
                    <br>

                    <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Primer Apellido"/></div>

                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="lastname2" value="" class="form-control input-lg" placeholder="Segundo Apellido"/></div>
                    </div>
                    <br>
                    
                    <input type="text" name="email" value="" class="form-control input-lg" placeholder="Email"/>
                    <br>

                    <input type"text" name="usuario" value"" class="form-control input-lg" placeholder="Usuario"/>
                    <br>

                    <input type="password" name="password" value="" class="form-control input-lg" placeholder="Contraseña"/>
 
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/>
                                <administrador>Administrador<administrador>
                        </label>
                    </div>
                             
                    <button class="btn btn-1 btn-1a" href="#/home" type="submit" >Registrar mi cuenta</button>
</div>            
</div>
        
      
